.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.4rem;

	width: 30vw;
	height: 30vw;
	outline: 2px solid white;
	outline-offset: 10px;
	border-radius: var(--game-border-radius);
	box-shadow: inset 0 0 100px 5px #f0f1f1;
	background-color: #070606;
}

.game-item {
	justify-self: center;
	align-self: center;
	width: 5rem;
	height: 5rem;
	border-radius: 3rem;
	resize: both;
}

.game-item0 {
	background-color: #00a4ff;
}
.game-item1 {
	background-color: #00ff5b;
}
.game-item2 {
	background-color: #5b00ff;
}
.game-item3 {
	background-color: #ff5b00;
}
